In [ ]:
from functions import data_strat2, data_strat1, nav_returns_backtest_only
import pandas as pd
stock_list = pd.read_csv("database/yearly/tw_stock_list.csv")
s = stock_list.sort_values(by="volume", ascending=False)

In [20]:
from datetime import datetime
df_final = pd.DataFrame()
start='2023-01-01'
end= datetime.now()
returns = []
winrates = []
avg_ret = []
trade_total = []
last_open_date = []
last_open_price = []
tickers = []
for ticker in s['market'][:500]:
    ticker_bar = ticker.replace(".", "_")
    df = data_strat1(ticker_bar, start, end)
    
    return_total, winrate, avg_return, trades, last_openposition_date, last_openposition_price = nav_returns_backtest_only(df)
    returns.append(return_total)
    winrates.append(winrate)
    avg_ret.append(avg_return)
    trade_total.append(trades)
    tickers.append(ticker[:4])
    last_open_date.append(df.index[last_openposition_date])
    last_open_price.append(last_openposition_price)
df_final['ticker'] = tickers
df_final['return_total'] = returns
df_final['winrate'] = winrates
df_final['avg_return'] = avg_ret
df_final['trade_total'] = trade_total
df_final['last_openposition_date'] = last_open_date
df_final['last_openposition_price'] = last_open_price

In [10]:
df_strat2 = pd.DataFrame()
start='2023-01-01'
end= datetime.now()
returns = []
winrates = []
avg_ret = []
trade_total = []
last_open_date = []
last_open_price = []
tickers = []
for ticker in s['market'][:500]:
    ticker_bar = ticker.replace(".", "_")
    df = data_strat2(ticker_bar, start, end)

    return_total, winrate, avg_return, trades, last_openposition_date, last_openposition_price = nav_returns_backtest_only(df)
    returns.append(return_total)
    winrates.append(winrate)
    avg_ret.append(avg_return)
    trade_total.append(trades)
    tickers.append(ticker[:4])
    last_open_date.append(df.index[last_openposition_date])
    last_open_price.append(last_openposition_price)
df_strat2['ticker'] = tickers
df_strat2['return_total'] = returns
df_strat2['winrate'] = winrates
df_strat2['avg_return'] = avg_ret
df_strat2['trade_total'] = trade_total
df_strat2['last_openposition_date'] = last_open_date
df_strat2['last_openposition_price'] = last_open_price

c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\cwcha\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [21]:
df_final[df_final['return_total'] > 0.1].sort_values(by='last_openposition_date', ascending=False)

,ticker,return_total,winrate,avg_return,trade_total,last_openposition_date,last_openposition_price
203,6213,0.677581,0.800000,0.129344,6,2024-05-02,107.500000
183,1560,0.648145,0.714286,0.082295,8,2024-05-02,250.000000
319,3450,0.112433,0.714286,0.014896,8,2024-05-02,63.200001
312,5443,0.268525,0.600000,0.055706,6,2024-04-30,57.099998
485,3032,0.531729,1.000000,0.097282,6,2024-04-30,76.500000
...,...,...,...,...,...,...,...
249,6176,0.183931,1.000000,0.058144,3,2023-10-05,124.000000
429,2404,0.217643,0.750000,0.050922,4,2023-10-04,226.000000
40,2520,0.133110,1.000000,0.066014,2,2023-09-22,32.549999
372,2439,0.106290,0.666667,0.034424,3,2023-09-21,84.300003
138,3037,0.153769,0.666667,0.054929,3,2023-09-20,183.500000

In [13]:
df_2 = df_strat2
# df_2[df_2['last_openposition_date'] == "2024-05-02"]
df_2[df_2['return_total'] > 0.1].sort_values(by='last_openposition_date', ascending=False)

,ticker,return_total,winrate,avg_return,trade_total,last_openposition_date,last_openposition_price
192,1445,0.114899,0.666667,0.039106,4,2024-04-30,24.299999
276,8401,0.172471,0.666667,0.046620,4,2024-04-30,27.000000
61,3033,0.262767,0.600000,0.038599,6,2024-04-30,34.200001
107,5608,0.241435,0.666667,0.085728,4,2024-04-30,20.100000
167,1905,0.135401,0.400000,0.055156,6,2024-04-29,24.100000
...,...,...,...,...,...,...,...
175,2329,0.121761,1.000000,0.126521,1,2023-05-29,20.549999
160,2301,0.136036,0.500000,0.072501,2,2023-05-26,83.300003
127,3055,0.120074,1.000000,0.119601,1,2023-05-19,30.100000
427,6538,0.187434,1.000000,0.191827,1,2023-04-06,88.099998
24,3715,0.248938,1.000000,0.271768,1,2023-03-21,18.950001