In [3]:
# 量縮價平/價跌
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
from pymongo import MongoClient
mongo = MongoClient("mongodb+srv://doadmin:12VQ3UrM70T695BL@medina-mongo-prod-4d15c7ee.mongo.ondigitalocean.com/admin?tls=true&authSource=admin")
data = mongo['PSTAGE']['securities_trading_data'].find({"日期":{"$gte":pd.to_datetime('2023-01-01')}}, {"_id":0}).limit(0)
df = pd.DataFrame(list(data))

pq.write_table(pa.Table.from_pandas(df), 'securities_trading_data.parquet')

,證券碼,日期,開盤價,最高價,最低價,收盤價,成交量(千股),交易所本益比,流通股數(千股),交易所淨值市價比,現金股利率,開盤價-除權息,最高價-除權息,最低價-除權息,收盤價-除權息,update_time
0,0050,2024-03-01,143.55,143.95,142.80,142.80,9019.098,NaN,2102500.0,NaN,3.4314,143.5500,143.9500,142.8000,142.8000,2024-04-19 11:24:10.560
1,0050,2024-03-04,145.00,147.20,144.85,146.95,25733.539,NaN,2100000.0,NaN,3.3345,145.0000,147.2000,144.8500,146.9500,2024-04-19 11:24:10.560
2,0050,2024-03-05,147.75,148.55,147.35,148.15,17270.419,NaN,2086000.0,NaN,3.3075,147.7500,148.5500,147.3500,148.1500,2024-04-19 11:24:10.560
3,0050,2024-03-06,147.00,149.05,146.40,148.85,17232.812,NaN,2067500.0,NaN,3.2919,147.0000,149.0500,146.4000,148.8500,2024-04-19 11:24:10.560
4,0050,2024-03-07,151.00,153.00,150.75,152.30,31117.921,NaN,2050500.0,NaN,3.2173,151.0000,153.0000,150.7500,152.3000,2024-04-19 11:24:10.560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1606,1981-11-09,14.30,14.40,14.20,14.35,880.000,NaN,71137.0,NaN,3.3200,1.6540,1.6656,1.6425,1.6598,2024-04-19 11:24:10.560
99996,1607,1981-11-09,15.90,16.00,15.60,15.60,78.000,NaN,27500.0,NaN,2.5600,13.5904,13.6759,13.3340,13.3340,2024-04-19 11:24:10.560
99997,1701,1981-11-09,19.00,19.10,18.20,19.00,773.000,NaN,30000.0,NaN,3.1600,1.5080,1.5159,1.4445,1.5080,2024-04-19 11:24:10.560
99998,1702,1981-11-09,18.10,18.10,17.50,17.60,276.000,NaN,41470.0,NaN,4.0600,1.6987,1.6987,1.6424,1.6517,2024-04-19 11:24:10.560
99999,1704,1981-11-09,18.70,18.90,18.00,18.90,231.000,NaN,62388.0,NaN,4.6000,1.0236,1.0346,0.9853,1.0346,2024-04-19 11:24:10.560