In [28]:
import requests
import pandas as pd
import yfinance as yf
res = requests.get("https://www.moneydj.com/Z/ZG/ZGL/ZGL.djhtm")
df = pd.read_html(res.text)
dfy = df[1]
dfy = dfy.iloc[3:, [0, 1, 2, 3, 4, 9]]
dfy.columns = ['rank', "name", "yield", "guri", "date", "close"]
dfy['codename'] = dfy['name'].apply(lambda x: x.split("(")[1].split("'")[1][2:])
dfy['ticker'] = dfy['name'].apply(lambda x: x.split("(")[1].split("'")[3])
dfy.drop("name", axis=1, inplace=True)
dfy.to_parquet("yield_top100_20240502.parquet")

/var/folders/zc/_sy5126x4ks5w74_nsrx_mv40000gp/T/ipykernel_91560/2499325396.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(res.text)

In [29]:
df = pd.read_parquet("yield_top100_20240502.parquet")
df

    rank  yield        guri        date  close codename ticker
3      1  40.90          20  2024/03/28   48.9     4420     光明
4      2  13.89       17.43  2023/08/24  125.5     6204     艾華
5      3  12.88           3        None  116.5     1808     潤隆
6      4  10.35         2.5        None  24.15     1445     大宇
7      5  10.04           2  2024/06/12  39.85     2020     美亞
..   ...    ...         ...         ...    ...      ...    ...
98    96   5.71  2.54042015  2023/12/21   44.5     8070    長華*
99    97   5.70           2        None   35.1     2937    集雅社
100   98   5.70          13        None    228     3611     鼎翰
101   99   5.69         3.5        None   61.5     4987     科誠
102  100   5.68           4  2024/06/13   70.4     6123     上奇

[100 rows x 7 columns]