In [8]:
import pandas as pd
stock_list = pd.read_csv("../database/yearly/tw_stock_list.csv")
s = stock_list.sort_values(by="volume", ascending=False)
listed = s[s['listed'] == True]
top100_listed_stocks = listed['ticker'].to_list()[:100]
len(top100_listed_stocks)

100

In [10]:
import pandas as pd
from functions import data_strat1, nav_returns_backtest_only
stock_list = pd.read_csv("../database/yearly/tw_stock_list.csv")
start='2020-01-01'
end='2021-01-01'
df_final = pd.DataFrame()
stock_list = stock_list.sort_values(by='volume_ntd', ascending=False)
print(stock_list)
for ticker in stock_list['market'][:10]:
    ticker_bar = ticker.replace(".", "_")
    df = data_strat1(f"{ticker_bar}", start, end)

    return_total, winrate, avg_return, trades, last_openposition_date, last_openposition_price = nav_returns_backtest_only(df)
    df_final[ticker] = [return_total, winrate, avg_return, trades, df.index[last_openposition_date], last_openposition_price]

df_final.index = ["return_total", "winrate", "avg_return", "number_of_trades", "last_openposition_date", "last_openposition_price"]

      Unnamed: 0  ticker codename   price  volume  volume_ntd  ticker.1  \
21            21    2330      台積電  790.00   38988     308.005      2330
26            26    3017       奇鋐  654.00   18630     121.840      3017
220          222    2317       鴻海  156.00   72211     112.649      2317
44            44    8996       高力  433.00   22501      97.429      8996
16            16    1519       華城  847.00    9236      78.229      1519
...          ...     ...      ...     ...     ...         ...       ...
1064        1141    2740       天蔥   38.00       0       0.000      2740
1363        1525    1258    其祥-KY   26.85       0       0.000      1258
1549        1745    1902       台紙   20.65       0       0.000      1902
333          335    6655       科定  119.50       0       0.000      6655
1903        2230    9157  陽光能源-DR    0.72       0       0.000      9157

     codename.1    market  listed TW_TWO
21          台積電   2330.TW    True     TW
26           奇鋐   3017.TW    True     TW
220          鴻海   2317.TW    True     TW
44           高力   8996.TW    True     TW
16           華城   1519.TW    True     TW
...         ...       ...     ...    ...
1064         天蔥  2740.TWO   False    TWO
1363      其祥-KY  1258.TWO   False    TWO
1549         台紙  1902.TWO   False    TWO
333          科定   6655.TW    True     TW
1903    陽光能源-DR  9157.TWO   False    TWO

[1904 rows x 11 columns]

/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10062.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10347.107362108172' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10198.265943497101' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9660.786960173731' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10154.374191707842' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9834.025145064177' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9915.611814345992' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9847.715736040609' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10061.919504643964' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open
/Users/test/Jimmy/tw-screener/tw-stock-screener/strategy-1-VPS3_C15/functions.py:210: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9958.677529621045' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cur[i] = current_open

In [12]:
df_final.T

,return_total,winrate,avg_return,number_of_trades,last_openposition_date,last_openposition_price
2330.TW,-0.01847,0.666667,-0.003224,3,2020-09-22 00:00:00,437.0
3017.TW,1.185501,0.833333,0.161712,6,2020-12-07 00:00:00,69.88945
2317.TW,-0.182003,0.0,-0.0627,3,2020-09-03 00:00:00,77.699997
8996.TW,0.046111,0.5,0.006815,6,2020-12-07 00:00:00,54.099998
1519.TW,0.050582,0.75,0.037018,5,2020-12-18 00:00:00,50.5
2363.TW,0.210208,1.0,0.068033,4,2020-12-22 00:00:00,14.393939
2603.TW,-0.046751,0.333333,-0.01655,3,2020-06-11 00:00:00,27.375
2454.TW,-0.00225,0.75,0.006108,4,2020-12-10 00:00:00,709.0
3324.TWO,0.11776,0.6,0.022749,5,2020-12-08 00:00:00,224.5
2618.TW,-0.235714,0.0,-0.080204,4,2020-12-22 00:00:00,13.15

In [18]:
df_final.T.sort_values(by='return_total', ascending=False).iloc[1:-1]['return_total'].mean()

0.0218984749365448

In [21]:
dft = df_final.T
# positive_return = dft[(dft['return_total'] > 0) & (dft['winrate'] > 0.5) & (dft['avg_return'] > 0)]
# latest = positive_return.sort_values(by="last_openposition_date", ascending=False)
dft_o_return_total = dft.sort_values(by='return_total', ascending=False)
dft_o_winrate = dft.sort_values(by='winrate', ascending=False)
dft_o_avg_return = dft.sort_values(by='avg_return', ascending=False)

,return_total,winrate,avg_return,number_of_trades,last_openposition_date,last_openposition_price
3017.TW,1.185501,0.833333,0.161712,6,2020-12-07 00:00:00,69.88945
2609.TW,0.475284,1.0,0.256061,2,2020-12-02 00:00:00,12.9
2363.TW,0.210208,1.0,0.068033,4,2020-12-22 00:00:00,14.393939
3324.TWO,0.11776,0.6,0.022749,5,2020-12-08 00:00:00,224.5
6415.TW,0.112485,0.666667,0.028673,3,2020-10-19 00:00:00,456.25
3661.TW,0.08757,0.6,0.044984,5,2020-12-04 00:00:00,604.0
3363.TWO,0.086537,0.25,0.028146,5,2020-12-23 00:00:00,27.133152
1519.TW,0.050582,0.75,0.037018,5,2020-12-18 00:00:00,50.5
8996.TW,0.046111,0.5,0.006815,6,2020-12-07 00:00:00,54.099998
2454.TW,-0.00225,0.75,0.006108,4,2020-12-10 00:00:00,709.0
1503.TW,-0.017575,0.8,-0.00173,5,2020-12-08 00:00:00,49.5
2330.TW,-0.01847,0.666667,-0.003224,3,2020-09-22 00:00:00,437.0
1513.TW,-0.035281,0.666667,0.000798,4,2020-12-21 00:00:00,55.5
2382.TW,-0.042859,0.333333,-0.011301,3,2020-11-11 00:00:00,71.599998
2603.TW,-0.046751,0.333333,-0.01655,3,2020-06-11 00:00:00,27.375
2501.TW,-0.062501,0.75,-0.01901,5,2020-12-29 00:00:00,19.700001
2317.TW,-0.182003,0.0,-0.0627,3,2020-09-03 00:00:00,77.699997
2891.TW,-0.197452,0.166667,-0.032351,6,2020-12-07 00:00:00,19.549999
2618.TW,-0.235714,0.0,-0.080204,4,2020-12-22 00:00:00,13.15
2371.TW,-0.262539,0.5,-0.061973,4,2020-11-18 00:00:00,19.65